html {
    position: relative;
    min-height: 100%;
    
  }
  
  body {
      
      background-image: url("/assets/image/dark-paths.png");
        margin-bottom: 60px;
  }
  
  
  
  #header {
         height:70px;
  }
  
  #title {
      color:white;
      text-align:center;
      padding-top:20px;
  }
  
  #buttonArea{
      margin-top:10px;
      color: white;
  }
  
  
  .btn {
      margin:10px;
  }
  
  #gifArea {
      margin-top:10px;
  }

  
  .submit {
      background-color: white;
      color: black;
      border:1px solid #113f67;
  }
  
  .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align:center;
      
      
  }
  
  .credits {
    color: white;
  }
  .clear {
      clear:both;
  }
 